##################################################
# {{ motd_message }}
# 
# Сервер: {{ ansible_hostname }}
# ОС: {{ ansible_distribution }} {{ ansible_distribution_version }}
# Компания: {{ company_name }}
# Контакт поддержки: {{ support_contact }}
# Дата обновления: {{ ansible_date_time.iso8601 }}
##################################################